@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.Institute-bg{
    background-color: #F4FAFD;
}
.res-img{
  height: 90vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}